/*Selector universal*/
* {
    color: red;
}
h1,h2,h3 {
    border: solid 2px black;
    background-color: beige;
    text-align: center;
    padding: 15px;
}
#pieDePagina {
    box-shadow: 10px 4px 8px black;
    padding: 5px 20px;
    margin:10px;
    background-color: azure;
    border-radius: 8px;
}